@import './variables.styl';
.popup-top {
    width: 100%
    opacity: .8
    height: 48px
    line-height: 48px
    display: flex
    align-items: center
    justify-content: center
    max-width: 375px
    color: #fff
    &.success {
        background: successColor
    }
    &.warning {
        background: warningColor
    }
    &.error {
        background: errorColor
    }
}

.el-color-svpanel {
    width: 270px;
}

.fix-level {
    z-index: 99999999 !important
}